<div class="flex flex-column gap-2">
  <label>{{getTranslatedLabel()}}</label>
  <p-password
    [pTooltip]="getValidationErrrorMessages()"
    tooltipPosition="bottom"
    [tooltipDisabled]="control.valid"
    tooltipStyleClass="soft-tooltip-invalid"
    [formControl]="control"
    [id]="control.label"
    [toggleMask]="true"
    (blur)="control.markAsDirty()"
    [style]="{'width':'100%'}"
    [inputStyle]="{'width':'100%'}"
    />
  </div>
  
  <!-- [class]="{'ng-invalid ng-dirty': control.valid}" -->
  <!-- class="ng-invalid ng-dirty" -->