    <div class="min-h-screen" style="display: flex; justify-content: center; align-items: center;">
        <div class="dialog" style="padding: 0px;">
            <soft-panel>
                <panel-header title="Account verification" [bigTitle]="true" icon="pi pi-envelope"></panel-header>

                <panel-body>
                    <form class="grid">
                        <div class="col-12">
                            <div class="header">We are verifying your account.</div>
                        </div>
                    </form>
                </panel-body>
            </soft-panel>
        </div>
    </div>

